<!DOCTYPE html>
<html>
<head>
  <title>Post title</title>
  <link href="css/blog.css" rel="stylesheet">
</head>
<body>
<div id="content">
  <h1>Post 2</h1>
  <p class="date">
    Published July 19, 2024 by admin
  </p>
  Post description 2
  <p>
    <a href="share.html">
      Share this post
    </a>
  </p>
    <h2>
      2 comments
    </h2>
    <div class="comment">
      <p class="info">
        Comment 1 by Abdulla
        July 19, 2024
      </p>
      this post is very good
    </div>
    <div class="comment">
      <p class="info">
        Comment 2 by admin
        July 19, 2024
      </p>
      this post is very nice
    </div>
  <h2>Add a new comment</h2>
  <form action="" method="post">
    <p>
      <label for="id_name">Name:</label>
      <input type="text" name="name" maxlength="80" required="" id="id_name">
    </p>
    <p>
      <label for="id_email">Email:</label>
      <input type="email" name="email" maxlength="254" required="" id="id_email">
    </p>
    <p>
      <label for="id_body">Body:</label>
      <textarea name="body" cols="40" rows="10" required="" id="id_body"></textarea>
    </p>
    <p><input type="submit" value="Add comment"></p>
  </form>
</div>
  <div id="sidebar">
    <h2>My blog</h2>
    <p>This is my blog.</p>
  </div>
</body>
</html>
