<!DOCTYPE html>
<html>
<head>
  <title>My Blog</title>
  <link href="css/blog.css" rel="stylesheet">
</head>
<body>
  <div id="content">
    <h1>My Blog</h1>
      <h2>
        <a href="detail.html">
          Post 1
        </a>
      </h2>
      <p class="date">
        Published July 19, 2024 by admin
      </p>
      <p>Post description 1</p>
      <h2>
        <a href="detail.html">
          Post 2
        </a>
      </h2>
      <p class="date">
        Published July 19, 2024 by admin
      </p>
      <p>Post description 2</p>
      <h2>
        <a href="detail.html">
          Post 3
        </a>
      </h2>
      <p class="date">
        Published July 19, 2024 by admin
      </p>
      <p>Post description 3</p>
  </div>
  <div id="sidebar">
    <h2>My blog</h2>
    <p>This is my blog.</p>
  </div>
</body>
</html>
